.hy-13 {
  padding-top: 90px;
}

/* CSS for the hero section */
.custom-hero {
  background-color: rgb(246, 249, 248);

  padding: 100px 0;
  position: relative;
}



.custom-hero h1 {
  font-size: 36px;
  font-weight: bold;
  color: #000000; /* Text color */
}

.custom-hero p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #000000; /* Text color */
}

.custom-hero .btn-primary {
  background-color: #ff5722;
  border-color: #ff5722;
  color: #fff; /* Button text color */
}

.custom-hero .btn-primary:hover {
  background-color: #e64a19;
  border-color: #e64a19;
}

.about-section p {
  text-align: justify;
}
